# Cache and logs (Symfony2)
/application/app/cache/*
/application/app/logs/*
!application/app/cache/.gitkeep
!application/app/logs/.gitkeep

# Email spool folder
/application/app/spool/*

# Cache, session files and logs (Symfony3)
/application/var/cache/*
/application/var/log/*
/application/var/sessions/*
!application/var/cache/.gitkeep
!application/var/logs/.gitkeep
!application/var/sessions/.gitkeep
/application/var/php_cs.cache

# Parameters
/application/app/config/parameters.yml
/application/app/config/parameters.ini

# Managed by Composer
/application/app/bootstrap.php.cache
/application/var/bootstrap.php.cache
/application/bin/*
!application/bin/console
!application/bin/symfony_requirements
/application/vendor/

# Assets and user uploads
/application/web/bundles/
/application/web/uploads/

# PHPUnit
/application/app/phpunit.xml
/application/phpunit.xml

# Build data
/application/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

###> friendsofphp/php-cs-fixer ###
/application/.php_cs
/application/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
